*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right,pink,white,yellow);
    height: 100%;
}
.button{
    width:50px;
    height:50px;
    font-size: 25;
    margin: 2;
    cursor:pointer;
    background: #007d8b;
    border:none;
    color: white;
}
.textview{
    width: 206px;
    height: 35px;
    margin: 5;
    font-size: 25px;
    padding: 5;
    border: solid;
    color:#607d8b;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}
.button-custom{
    width:106px;
}
.button-ctm{
    height:102px;
}
